<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">

<title>Title</title>
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container-fluid">
		<div id="header" th:include="page :: header"></div>
		<br>
		<div id="content">
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th class="col-sm-1">name</th>
					<th class="col-sm-1">ver</th>
					<th class="col-sm-2">number</th>
					<th class="col-sm-1">b</th>
					<th class="col-sm-1">place</th>
					<th class="col-sm-1">oper</th>
					<th class="col-sm-1">group</th>
					<th class="col-sm-2">sernumber</th>
					<th class="col-sm-2">Action</th>
				</tr>
				<tr th:each="card : ${cards}">
					<td th:text="${card.name}"></td>
					<td th:text="${card.version}"></td>
					<td th:text="${card.number}"></td>
					<td th:text="${card.bank.name}"></td>
					<td th:text="${card.place}"></td>
					<td th:text="${card.oper}"></td>
					<td th:text="${card.group.name}"></td>
					<td th:text="${card.sernumber}"></td>
					<td style="text-align: center;">
					<a th:href="@{/cards/edit(id=${card.id})}">
							<button type="button" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-pencil"></span>Edit
							</button>
					</a> &nbsp; 
					<!-- <a href="#"	data-th-href="@{/cards/delete(id=${card.id},phase=stage)}"> -->
							<button type="button" class="btn btn-default btn-xs" data-toggle="modal" 
							data-target="#delModal" th:attr="data-cardid=${card.id}">
								<span class="glyphicon glyphicon-trash"></span>Delete
							</button>
					<!-- </a> -->
					</td>
				</tr>
			</table>
		</div>
		<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="delModalLabel">New message</h4>
					</div>
					<div class="modal-body">
					<h4 id="recipient-name" th:text="'are you sure to delete'">New message</h4>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" id="recipient-name"></input>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<a href="#"	id="confirm777" data-th-href="@{/cards/delete(id=${card.id},phase=stage)}">
						<button type="button" class="btn btn-primary" id="confirm777">Confirm</button>
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-8">
				<a th:href="@{/cards/add}">
					<button type="button" class="btn btn-primary">Add</button>
				</a>
			</div>
			
		</div>
		
		
		

		<div id="footer" th:include="page :: copy"></div>
		<script type="text/css" src="../../resources/js/jquery-1.12.1.min.js"
			th:href="@{/resources/js/jquery-1.12.1.min.js}"></script>
		<script type="text/css" src="../../resources/js/bootstrap.min.js"
			th:href="@{/resources/js/bootstrap.min.js}"></script>
		</br>
	</div>
</body>
     <script>
      $('#delModal').on('show.bs.modal', function (event) {
    	  var button = $(event.relatedTarget) // Button that triggered the modal
    	  var recipient = button.data('cardid') // Extract info from data-* attributes
    	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    	  var modal = $(this)
    	  modal.find('.modal-title').text('Are you sure to delete ' + recipient)
    	  modal.find('.modal-body input').val(recipient)
    	  $('#confirm777').val(recipient)
    	  console.log(recipient);
    	})
		</script>
</html>