<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
<title>Title</title>
<!-- <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" /> -->
	
	
<script type="text/javascript" src="../../resources/js/jquery-1.12.1.min.js" th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>		 		
	
<link type="text/css" rel="stylesheet" 	href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
	
<script type="text/javascript" src="../../resources/js/bootstrap-multiselect.js" th:src="@{/resources/js/bootstrap-multiselect.js}"></script>	
<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-multiselect.css" th:href="@{/resources/css/bootstrap-multiselect.css}"	 />
	
</head>
<body>
	<div class="container">
	<div class="panel panel-default" >
		<div class="panel-heading">ItemC</div>
		<form class="form-horizontal" th:object="${card}" th:action="@{/cards/edit}" th:method="post" >
			<div class="form-group" >
				<label class="col-sm-4 col-xs-8 control-label" >name</label>
				<div class="col-sm-2">
					 <input  type="text" hidden="hidden" th:value="*{id}" th:field="*{id}" ></input>	
					 <input  type="text" hidden="hidden" th:value="*{version}" th:field="*{version}" ></input>					 
					 <input class="form-control" type="text" th:value="*{name}" th:field="*{name}" th:readonly="${action}=='delete'"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-xs-8 control-label">number</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="*{number}" th:field="*{number}" 
					th:readonly="${action}=='delete'"></input>
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-4 col-xs-8 control-label">b</label>
				<div class="col-sm-2"  >  
				<select	class="form-control" th:value="*{bank}?*{bank.id}:0" th:field="*{bank.id}" th:disabled="${action}=='delete'" >
					<option th:each="bank: ${banklst}" th:value="${bank.id}" th:text="${bank.ip}"></option>
				</select> 
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-4 col-xs-8 control-label">place</label>
				<div class="col-sm-2"  > 
				<select	class="form-control" th:value="*{place}" th:field="*{place}" th:disabled="${action}=='delete'" >
					<option th:each="place: ${places}" th:value="${place}" th:text="${place}"></option>
				</select>
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-4 col-xs-8 control-label">group</label>
				<div class="col-sm-2"  > 
				<select	class="form-control" th:value="*{group}?*{group.id}:0" 	th:field="*{group.id}" th:disabled="${action}=='delete'" >
					<option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}" ></option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-xs-8 control-label">sernumber</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="*{sernumber}" th:field="*{sernumber}"
					th:readonly="${action}=='delete'"></input>
				</div>
			</div>			
			<div class="form-group "> 
				<label class="col-sm-4 col-xs-8 control-label">channel</label>
				<div class="col-sm-2"  > 
		 		<select	class="form-control" id="channel-select"  size="2" th:field="*{channel}"
		 				 th:disabled="${action}=='delete'">     <!-- th:value="*{trunk}?*{trunk.id}:0" th:field="*{trunk.id}" -->
					<option th:each="channel: ${channels}" th:value="${{channel}}" th:text="${channel.name}" > </option>
				</select> 
				</div>     <!-- http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#configuring-a-conversion-service -->
			</div>					
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button type="submit" class="btn btn-primary" name="action"	
						th:value="${action}=='delete' ? 'delete' : 'save'" 
						th:text="${action}=='delete' ? 'delete' : 'save'"> 
					</button>
					<button type="submit" class="btn btn-default active" name="action" 	value="cancel">Cancel</button>
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-7">
					<p class="text-danger" th:if="${#fields.hasErrors('name')}"
						data-th-errors="*{name}"></p>
					<p class="text-danger" th:if="${#fields.hasErrors('number')}"
						data-th-errors="*{number}"></p>
					<p class="text-danger" th:if="${#fields.hasErrors('sernumber')}"
						data-th-errors="*{sernumber}"></p>
				</div>
			</div>
		</form>
		</div>
		</div>
		<div class="col-sm-3"></div>


	<script type="text/javascript"
		src="../../resources/js/jquery-1.11.0.min.js"
		data-th-src="@{/resources/js/jquery-1.11.0.min.js}"></script>
	<script type="text/javascript"
		src="../../resources/js/bootstrap-3.3.3.min.js"
		data-th-src="@{/resources/js/bootstrap-3.3.3.min.js}"></script>
</body>

</html>

